.items {
    justify-content: space-between;

    .short {
        @extend .list-unstyled;
        @extend .position-absolute;
        right: 0;
        @extend .text-white;
        @extend .text-center;
        @extend .mb-0;
            width: $spacer * 7;
            @extend .p-2;
            @extend .bg-danger;
            @extend .shadow;
        i {
            @extend .fa-lg;
            @extend .fal;
            @extend .mr-1;
        }

    }
}